*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-clr: hsl(185, 75%, 39%);
    --primary-txt: hsl(229, 23%, 23%);
    --secondary-txt: hsl(227, 10%, 46%);
    --border-clr: hsl(0, 0%, 59%);
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--bg-clr);
    font-weight: 400;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

h1,
h2 {
    color: var(--primary-txt);
}

span {
    color: var(--secondary-txt);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 370px;
    width: 350px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.8rem;
    overflow: hidden;
}

.profile-img {
    border: 5px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-top: -15%;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.name span {
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
}

.place {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.social {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--border-clr);
    padding-top: 2rem;
}